.pt-60 {
    padding-top: 6rem;
}

.pt-70 {
    padding-top: 7rem;
}

.pt-80 {
    padding-top: 8rem;
}

.pt-90 {
    padding-top: 9rem;
}

.pt-100 {
    padding-top: 10rem;
}

.pt-110 {
    padding-top: 11rem;
}

.pb-60 {
    padding-bottom: 6rem;
}

.pb-70 {
    padding-bottom: 7rem;
}

.pb-80 {
    padding-bottom: 8rem;
}

.pb-90 {
    padding-bottom: 9rem;
}

.pb-100 {
    padding-bottom: 10rem;
}

.pb-110 {
    padding-bottom: 11rem;
}

.ptb-20 {
    padding: 20px 0;
}

.ptb-30 {
    padding: 30px 0;
}

.ptb-04 {
    padding: 04px 0;
}

.ptb-50 {
    padding: 50px 0;
}

.ptb-60 {
    padding: 60px 0;
}

.ptb-70 {
    padding: 7rem 0;
}

.ptb-80 {
    padding: 8rem 0;
}

.ptb-90 {
    padding: 9rem 0;
}

.ptb-100 {
    padding: 10rem 0;
}

.ptb-110 {
    padding: 11rem 0;
}

.mt-10 {
    margin-top: 1rem;
}

.mt-20 {
    margin-top: 2rem;
}

.mt-30 {
    margin-top: 3rem;
}

.mt-40 {
    margin-top: 4rem;
}

.mt-50 {
    margin-top: 5rem;
}

.mb-10 {
    margin-bottom: 1rem;
}

.mb-20 {
    margin-bottom: 2rem;
}

.mb-30 {
    margin-bottom: 3rem;
}

.mb-40 {
    margin-bottom: 4rem;
}

.mb-50 {
    margin-bottom: 5rem;
}

.mtb-10 {
    margin: 1rem 0;
}

.mtb-20 {
    margin: 2rem 0;
}

.mtb-30 {
    margin: 3rem 0;
}

.mtb-40 {
    margin: 4rem 0;
}

.mtb-50 {
    margin: 5rem 0;
}
